    * {
        box-sizing: border-box:
    }

    .top-navigation {
        background-color: lightgrey;
        position: fixed;
        width: 100%;
        height: 60px;
    }

    h1 {
        font-style: normal;
        font-family: sans-serif;
        width: 175px;
        position: absolute;
        margin-top: 13px;
        margin-left: 10px;
    }

    ul li {
        font-size: 1.75rem;
        float: right;
        display: inline-block;
        padding-left: 20px;
        padding-right: 20px;
    }

    a:visited,
    a:link {
        color: purple;
        text-decoration: none;
    }

    .search {
        padding-top: 100px;
        height: 32px;
        position: relative;
    }

    .input-bar {
        height: 32px;
        margin-left: 200px;
    }

    input {
        height: 32px;
        width: 400px;
    }

    .logo {
        width: 30px;
        position: absolute;
        float: right;
        border: 1px solid #d3d3d3;
        margin-left: 5px;
    }
